/* SASS Specific stuff */
/* line 31, ../styles/styling.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/* line 35, ../styles/styling.scss */
* {
    box-sizing: border-box;
    outline: none;
}

/* Layout */
/* line 42, ../styles/styling.scss */
html {
    font-size: 62.5%;
}

/* line 46, ../styles/styling.scss */
body, html {
    background: #ececec;
    color: #414141;
    min-height: 100%;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizelegibility !important;
    overflow-y: hidden;
}

/* line 60, ../styles/styling.scss */
body {
    font-size: 14px;
    font-size: 1.4rem;
}

/* line 64, ../styles/styling.scss */
button, html, input, select, textarea {
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

/* line 72, ../styles/styling.scss */
a {
    color: #414141;
}

/* line 76, ../styles/styling.scss */
.smallText {
    font-size: 10px;
    font-size: 1rem;
}

/* line 80, ../styles/styling.scss */
.forgotPassword, .loginLink {
    font-size: 12px;
    font-size: 1.2rem;
}

/* line 84, ../styles/styling.scss */
.mandatory {
    font-size: 16px;
    font-size: 1.6rem;
}

/* line 88, ../styles/styling.scss */
.hidden {
    display: none;
}

/* line 92, ../styles/styling.scss */
.loading-indicator {
    height: 5px;
    margin: 0;
    position: absolute;
    width: 100%;
}

/* line 99, ../styles/styling.scss */
.loadScreen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 0;
    z-index: 2147483647;
}
/* line 107, ../styles/styling.scss */
.loadScreen .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

/* line 116, ../styles/styling.scss */
.menuOpen .headers {
    padding-left: 190px;
}
/* line 120, ../styles/styling.scss */
.menuOpen:before {
    padding-left: 254px;
}

/* line 125, ../styles/styling.scss */
label {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.54);
}

/* line 130, ../styles/styling.scss */
.label {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 8px;
}

/* line 137, ../styles/styling.scss */
md-input-container label, md-item-content label {
    font-size: 100%;
}

/* line 142, ../styles/styling.scss */
md-card {
    background: #FFF;
}

/* line 146, ../styles/styling.scss */
.md-padding-container {
    padding-top: 24px;
}
/* line 149, ../styles/styling.scss */
.md-padding-container md-input-container {
    padding-bottom: 0;
}

/* line 154, ../styles/styling.scss */
.mainContent {
    width: 100%;
    height: 100%;
    position: relative;
    background: none !important;
}

/* line 161, ../styles/styling.scss */
.parentContainer {
    height: 100%;
    padding-top: 0px;
    overflow-y: visible;
    overflow-x: hidden;
}
/* line 167, ../styles/styling.scss */
.parentContainer.error {
    padding: 0;
}
/* line 171, ../styles/styling.scss */
.parentContainer .viewContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* line 175, ../styles/styling.scss */
.parentContainer .viewContainer .page {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
/* line 180, ../styles/styling.scss */
.parentContainer .viewContainer .page.error {
    color: #FFF;
    text-align: center;
}
/* line 184, ../styles/styling.scss */
.parentContainer .viewContainer .page.error.fourOThree {
    background: url(../images/403.jpg) no-repeat center center;
    background-size: cover;
}
/* line 189, ../styles/styling.scss */
.parentContainer .viewContainer .page.error.fourOFour {
    background: url(../images/404.jpg) no-repeat center center;
    background-size: cover;
}
/* line 194, ../styles/styling.scss */
.parentContainer .viewContainer .page.error.fiveHundred {
    background: url(../images/500.jpg) no-repeat center center;
    background-size: cover;
}
/* line 199, ../styles/styling.scss */
.parentContainer .viewContainer .page.error.fiveOTwo {
    background: url(../images/502.jpg) no-repeat center center;
    background-size: cover;
}
/* line 204, ../styles/styling.scss */
.parentContainer .viewContainer .page.error.fiveOThree {
    background: url(../images/503.jpg) no-repeat center center;
    background-size: cover;
}
/* line 209, ../styles/styling.scss */
.parentContainer .viewContainer .page.error.fiveOFour {
    background: url(../images/504.jpg) no-repeat center center;
    background-size: cover;
}
/* line 214, ../styles/styling.scss */
.parentContainer .viewContainer .page.error .box {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 60px 20px 0;
    max-width: 560px;
}
/* line 220, ../styles/styling.scss */
.parentContainer .viewContainer .page.error .box h1 {
    font-size: 100px;
    margin: 0;
}
/* line 225, ../styles/styling.scss */
.parentContainer .viewContainer .page.error .box p.lost {
    font-size: 36px;
    margin: 40px 0 0px 0;
}
/* line 230, ../styles/styling.scss */
.parentContainer .viewContainer .page.error .box p.content {
    font-size: 16px;
    margin: 0 0 40px;
}
/* line 235, ../styles/styling.scss */
.parentContainer .viewContainer .page.error .box .button {
    border-radius: 3px;
    background-color: #2196f3;
    width: 240px;
    height: 32px;
    padding-top: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    margin: 0 auto;
}
/* line 250, ../styles/styling.scss */
.parentContainer .viewContainer .page.error .box .gs_logo {
    background: url(../images/GS_Logo_404.png) no-repeat center center;
    background-size: 180px;
    width: 180px;
    height: 45px;
    margin: 60px auto 20px;
}

/* line 263, ../styles/styling.scss */
.mainHeader {
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 30;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
/* line 274, ../styles/styling.scss */
.mainHeader.fullWidth {
    padding-left: 0;
}
/* line 278, ../styles/styling.scss */
.mainHeader h2 {
    margin-left: 18px;
    font-size: inherit;
}
/* line 283, ../styles/styling.scss */
.mainHeader:before {
    content: '';
    display: none;
    width: 123px;
    height: 30px;
    margin: -15px 0 0 0;
    background: url(../images/logo_getsocial_mob_2x.png) no-repeat center center;
    background-size: 124px;
    position: absolute;
    left: 80px;
    top: 50%;
}

/* line 297, ../styles/styling.scss */
.sectionHeader {
    color: #999;
    font-weight: normal;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
}

/* line 304, ../styles/styling.scss */
.md-whiteframe-z1 {
    padding: 24px;
}
/* line 308, ../styles/styling.scss */
.md-whiteframe-z1.logout h2 {
    text-align: center;
}

/* line 314, ../styles/styling.scss */
.imageWrapper {
    margin-top: 26px;
}

/* line 319, ../styles/styling.scss */
[layout="row"] .fileUploader {
    margin-top: 11px;
    float: right;
    width: 110px;
}
/* line 323, ../styles/styling.scss */
[layout="row"] .fileUploader .fileUpload {
    margin: 0 !important;
    float: right;
}
/* line 328, ../styles/styling.scss */
[layout="row"] .fileUploader .delete {
    margin: 0 !important;
    float: right;
}
/* line 334, ../styles/styling.scss */
[layout="row"] .helpIcon {
    margin-top: 19px;
}
/* line 339, ../styles/styling.scss */
[layout="row"].multiSelect .helpIcon {
    margin-top: 0;
}
/* line 343, ../styles/styling.scss */
[layout="row"].multiSelect.header {
    margin: 0;
}
/* line 346, ../styles/styling.scss */
[layout="row"].multiSelect.header .select2-choices {
    background: transparent;
}
/* line 350, ../styles/styling.scss */
[layout="row"].multiSelect.header .select2-choice {
    border-color: #FFF;
    color: #FFF;
}
/* line 355, ../styles/styling.scss */
[layout="row"].multiSelect.header .select2-container {
    margin: 0;
}

/* line 362, ../styles/styling.scss */
md-input-container {
    padding: 2px 2px 26px 2px;
}

/* Navigation */
/* line 368, ../styles/styling.scss */
#navigation {
    width: 254px;
    min-width: 254px;
    max-width: 254px;
    background: #263238;
    font-size: 24px;
    font-size: 2.4rem;
}
/* line 375, ../styles/styling.scss */
#navigation > * {
    width: 254px;
}
/* line 379, ../styles/styling.scss */
#navigation .md-button {
    color: #b0bec5;
    text-transform: none;
    font-weight: 700;
    text-align: left;
    padding-left: 16px;
    height: 46px;
    width: 100%;
    border-radius: 0;
    margin: 0;
}
/* line 390, ../styles/styling.scss */
#navigation .md-button.selected {
    color: #FFF;
}
/* line 393, ../styles/styling.scss */
#navigation .md-button.selected md-icon {
    color: #FFF;
}
/* line 398, ../styles/styling.scss */
#navigation .md-button:hover {
    background: rgba(153, 153, 153, 0.2);
}
/* line 402, ../styles/styling.scss */
#navigation .md-button:focus {
    background: none;
}
/* line 406, ../styles/styling.scss */
#navigation .md-button md-icon {
    margin-right: 32px;
    color: #b0bec5;
}
/* line 412, ../styles/styling.scss */
#navigation .headerAvatar {
    width: 100%;
}
/* line 415, ../styles/styling.scss */
#navigation .headerAvatar md-icon {
    width: 48px;
    height: 48px;
    float: left;
    margin: 8px 0 0 8px;
}
/* line 422, ../styles/styling.scss */
#navigation .headerAvatar .md-font {
    width: 48px;
    height: 48px;
    float: left;
    font-size: 48px;
    font-size: 4.8rem;
}
/* line 429, ../styles/styling.scss */
#navigation .headerAvatar .headerImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 12px 0 0 12px;
}
/* line 441, ../styles/styling.scss */
#navigation .headerAvatar .headerUser {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 17px 0 0 12px;
}

/* line 451, ../styles/styling.scss */
.gameSelector {
    margin: 0;
    width: auto !important;
    background: #192125;
    padding: 6px 20px 16px;
}
/* line 457, ../styles/styling.scss */
.gameSelector md-select {
    margin: 0;
}
/* line 461, ../styles/styling.scss */
.gameSelector .md-select-value {
    color: #FFF !important;
    padding-bottom: 6px !important;
    border-bottom: 1px solid #FFF !important;
}
/* line 465, ../styles/styling.scss */
.gameSelector .md-select-value span {
    font-size: 14px;
    font-size: 1.4rem;
    height: 24px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* line 476, ../styles/styling.scss */
.md-text {
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    font-size: 1.6rem;
    line-height: 0.8em;
    min-width: 64px;
    padding-bottom: 8px;
    padding-top: 9px;
    position: relative;
}

/* line 488, ../styles/styling.scss */
.gameSelectImg {
    width: 24px;
    height: 24px;
    -webkit-flex: none !important;
    flex: none !important;
    margin: 11px 28px 0 0;
}

/* line 495, ../styles/styling.scss */
.newGame {
    min-width: 226px;
}
/* line 497, ../styles/styling.scss */
.newGame .md-font {
    margin-right: 28px;
    color: rgba(0, 0, 0, 0.54);
}

/* Login & register Form */
/* line 505, ../styles/styling.scss */
.rootLoader {
    position: absolute;
    top: 59px;
}

/* line 510, ../styles/styling.scss */
.tcs {
    font-size: 10px;
    font-size: 1rem;
}

/* line 514, ../styles/styling.scss */
.loginFormFooter {
    padding: 16px 0;
}
/* line 516, ../styles/styling.scss */
.loginFormFooter md-divider {
    margin: 16px 0;
}

/* line 521, ../styles/styling.scss */
#docsList {
    width: 100%;
    list-style: none;
    margin: 45px 0 0 20px;
}
/* line 526, ../styles/styling.scss */
#docsList.docs {
    width: auto;
    margin: 20px 0 0 0;
    padding: 0;
}
/* line 530, ../styles/styling.scss */
#docsList.docs li {
    margin: 0 60px 20px 0;
}
/* line 533, ../styles/styling.scss */
#docsList.docs li .circle {
    border: 1px solid #eee;
    margin-right: 10px;
}
/* line 540, ../styles/styling.scss */
#docsList li {
    height: 60px;
    line-height: 60px;
    margin-bottom: 19px;
}
/* line 545, ../styles/styling.scss */
#docsList li a {
    color: #414141;
}
/* line 549, ../styles/styling.scss */
#docsList li:last-child {
    margin: 0;
}
/* line 553, ../styles/styling.scss */
#docsList li .button {
    background: #FFF;
    color: #525252;
    margin: 0;
}
/* line 559, ../styles/styling.scss */
#docsList .circle {
    width: 60px;
    height: 60px;
    background: #FFF;
    border-radius: 40px;
    position: relative;
    float: left;
    margin-right: 24px;
}
/* line 568, ../styles/styling.scss */
#docsList .circle:before {
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
}
/* line 576, ../styles/styling.scss */
#docsList .circle md-icon {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
}
/* line 583, ../styles/styling.scss */
#docsList .circle md-icon.md-font {
    color: #eee;
    font-size: 4rem;
}
/* line 590, ../styles/styling.scss */
#docsList .circle.android .md-font {
    color: #A4C639;
}
/* line 596, ../styles/styling.scss */
#docsList .circle.ios .md-font {
    color: #a5adb0;
}
/* line 602, ../styles/styling.scss */
#docsList .circle.unity:before {
    width: 39px;
    height: 41px;
    margin: -20.5px 0 0 -24px;
    background: url(../images/ico_documentation_platform_unity_small_2x.png) no-repeat center center;
    background-size: 39px;
}

/* App information */
/* Activity */
/* line 617, ../styles/styling.scss */
.postActivity {
    padding: 0;
}
/* line 620, ../styles/styling.scss */
.postActivity .activityBorder {
    width: 100%;
    height: 100%;
    border: 8px solid #FFF;
}
/* line 626, ../styles/styling.scss */
.postActivity .activityPreviewWrapper {
    width: 320px;
    margin: 0 auto 15px;
    background: #F0F0F0;
}
/* line 632, ../styles/styling.scss */
.postActivity .activityPreviewWrapper.addUnit p {
    margin: 6px 0;
}
/* line 637, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .content {
    color: #797E85;
}
/* line 641, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .timeStamp {
    color: #9EA6B2;
}
/* line 645, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .appWallForm {
    float: right;
}
/* line 649, ../styles/styling.scss */
#adUnitsWrapper .postActivity .activityPreviewWrapper {
    margin-top: 20px;
}
/* line 653, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .activityIcon {
    float: left;
    height: 64px;
    width: 64px;
}
/* line 658, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .activityIcon .imgWrapper {
    height: 48px;
    margin: 8px;
    width: 48px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* line 669, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .textPreview {
    color: #9F9F9F;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 5px 10px 10px 70px;
    word-wrap: break-word;
}
/* line 675, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .textPreview b {
    color: #1F2734;
    font-weight: bold;
}
/* line 679, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .textPreview p {
    padding: 0px;
}
/* line 684, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .linkButton {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    background: #25c86a;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    margin-top: 10px;
}
/* line 695, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .imagePreview {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    height: 200px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* line 706, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .imagePreview .linkButton {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: auto;
    display: block;
}
/* line 715, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .likeIcons {
    margin-top: 10px;
    line-height: 2.4rem;
}
/* line 719, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .likeIcons span {
    margin-right: 10px;
}
/* line 721, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .likeIcons span span {
    margin: 0;
    color: #488ee7;
}
/* line 727, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .likeIcons .md-button {
    position: absolute;
    right: 0;
    bottom: -11px;
}
/* line 733, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .likeIcons .mdi {
    float: right;
}
/* line 735, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .likeIcons .mdi .md-font {
    width: 32px;
    color: #b2bfc7;
}
/* line 742, ../styles/styling.scss */
.postActivity .activityPreviewWrapper .menuOptions {
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
}
/* line 751, ../styles/styling.scss */
.postActivity.saved {
    background: #E5E5E5;
    padding-bottom: 0;
}
/* line 755, ../styles/styling.scss */
.postActivity.saved .row {
    margin: 0 0 2px;
}

/* line 761, ../styles/styling.scss */
.liked {
    color: #2196F3 !important;
}

/* line 766, ../styles/styling.scss */
.manageActivity .selectActivity {
    padding: 24px;
    display: block;
}
/* line 770, ../styles/styling.scss */
.manageActivity .selectActivity md-select {
    width: 150px;
    padding: 2px 2px 26px;
}
/* line 774, ../styles/styling.scss */
.manageActivity .selectActivity md-select:first-child {
    margin-right: 15px;
}
/* line 779, ../styles/styling.scss */
.manageActivity .selectActivity md-input-container {
    margin-left: 16px;
}
/* line 782, ../styles/styling.scss */
.manageActivity .selectActivity md-input-container .md-font {
    color: #b2bfc7;
}
/* line 786, ../styles/styling.scss */
.manageActivity .selectActivity .md-font {
    color: #b2bfc7;
}
/* line 792, ../styles/styling.scss */
.manageActivity .md-whiteframe-z1 {
    margin: 16px;
    padding: 0;
}
/* line 797, ../styles/styling.scss */
.manageActivity .noData {
    padding: 24px;
}

/* line 804, ../styles/styling.scss */
md-select-menu.md-default-theme md-option {
    padding: 0 16px 0 32px;
}
/* line 808, ../styles/styling.scss */
md-select-menu.md-default-theme md-option[selected]:before {
    display: block;
    content: "\f1f1";
    font-family: MaterialDesignIcons;
    left: 10px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}

/* line 821, ../styles/styling.scss */
.selectGroup {
    width: 320px;
    margin: 0 auto;
}

/* line 826, ../styles/styling.scss */
.activityList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
/* line 832, ../styles/styling.scss */
.activityList li {
    position: relative;
}
/* line 836, ../styles/styling.scss */
.activityList .activityPreviewWrapper {
    margin: 15px 0;
}
/* line 840, ../styles/styling.scss */
.activityList .commentsLink {
    cursor: pointer;
    text-decoration: underline;
}

/* line 850, ../styles/styling.scss */
.activityOverviewList {
    display: table;
    table-layout: fixed;
    width: 100%;
}
/* line 855, ../styles/styling.scss */
.activityOverviewList .columnGroup {
    display: table-column-group;
}
/* line 858, ../styles/styling.scss */
.activityOverviewList .columnGroup > div {
    display: table-column;
}
/* line 862, ../styles/styling.scss */
.activityOverviewList .columnGroup .activityIcon {
    width: 80px;
}
/* line 866, ../styles/styling.scss */
.activityOverviewList .columnGroup .text {
    width: 100%;
}
/* line 870, ../styles/styling.scss */
.activityOverviewList .columnGroup .poster {
    width: 160px;
}
/* line 874, ../styles/styling.scss */
.activityOverviewList .columnGroup .timeStamp {
    width: 120px;
}
/* line 878, ../styles/styling.scss */
.activityOverviewList .columnGroup .properties {
    width: 120px;
}
/* line 882, ../styles/styling.scss */
.activityOverviewList .columnGroup .likeIcons {
    width: 160px;
}
/* line 886, ../styles/styling.scss */
.activityOverviewList .columnGroup .delete {
    width: 70px;
}
/* line 891, ../styles/styling.scss */
.activityOverviewList .header {
    display: table-header-group;
}
/* line 894, ../styles/styling.scss */
.activityOverviewList .header > div {
    display: table-cell;
    border-bottom: 1px solid #EEE;
}
/* line 898, ../styles/styling.scss */
.activityOverviewList .header > div > div {
    height: 48px;
    line-height: 48px;
}
/* line 905, ../styles/styling.scss */
.activityOverviewList .header .activityIcon {
    padding-left: 24px;
}
/* line 910, ../styles/styling.scss */
.activityOverviewList .contentGroup {
    display: table-row-group;
}
/* line 913, ../styles/styling.scss */
.activityOverviewList .contentGroup > div {
    display: table-row;
}
/* line 916, ../styles/styling.scss */
.activityOverviewList .contentGroup > div:hover {
    background: #EEE;
    cursor: pointer;
}
/* line 921, ../styles/styling.scss */
.activityOverviewList .contentGroup > div.active {
    background: #E3F2FD;
}
/* line 927, ../styles/styling.scss */
.activityOverviewList .contentGroup > div > div {
    display: table-cell;
    vertical-align: middle;
    padding: 8px 0;
}
/* line 935, ../styles/styling.scss */
.activityOverviewList .contentGroup > div > div > div md-icon.liked {
    color: #2196F3;
}
/* line 943, ../styles/styling.scss */
.activityOverviewList .contentGroup .activityIcon {
    padding-left: 24px;
}
/* line 945, ../styles/styling.scss */
.activityOverviewList .contentGroup .activityIcon > div {
    width: 64px;
    padding-top: 4px;
}
/* line 949, ../styles/styling.scss */
.activityOverviewList .contentGroup .activityIcon > div .imgWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* line 962, ../styles/styling.scss */
.activityOverviewList .contentGroup .text > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 40px;
}
/* line 971, ../styles/styling.scss */
.activityOverviewList .contentGroup .likeIcons > div {
    line-height: normal;
    height: auto;
}
/* line 976, ../styles/styling.scss */
.activityOverviewList .contentGroup .likeIcons .commentLikes {
    padding-top: 7px;
}
/* line 980, ../styles/styling.scss */
.activityOverviewList .contentGroup .likeIcons .like {
    margin-right: 8px;
}
/* line 983, ../styles/styling.scss */
.activityOverviewList .contentGroup .likeIcons .like .md-button {
    -webkit-align-self: center;
    align-self: center;
    background-color: transparent;
    border-radius: 50%;
    margin: 0;
    min-width: 0;
}
/* line 994, ../styles/styling.scss */
.activityOverviewList md-icon {
    width: 32px;
}
/* line 997, ../styles/styling.scss */
.activityOverviewList md-icon .md-font {
    color: #b2bfc7;
}
/* line 1002, ../styles/styling.scss */
.activityOverviewList md-icon.liked .md-font {
    color: #2196F3;
}

/* line 1009, ../styles/styling.scss */
.commentListWrapper {
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    padding: 112px 0 0 0;
    width: 0;
    background: #FAFAFA;
    z-index: 50;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
/* line 1024, ../styles/styling.scss */
.commentListWrapper.open {
    width: 365px;
}
/* line 1028, ../styles/styling.scss */
.commentListWrapper .commentsToolbar {
    height: 112px;
    position: fixed;
    top: 0;
    width: 365px;
}
/* line 1035, ../styles/styling.scss */
.commentListWrapper .commentsList {
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 112px;
    width: 365px;
}
/* line 1042, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper {
    padding: 16px;
}
/* line 1045, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper .textPreview {
    position: relative;
    word-wrap: break-word;
}
/* line 1049, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper .textPreview .comment {
    padding-right: 45px;
}
/* line 1053, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper .textPreview .commentDelete {
    position: absolute;
    right: 0;
    top: 0;
}
/* line 1058, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper .textPreview .commentDelete .md-font {
    color: #b2bfc7;
}
/* line 1064, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper .likeIcons {
    position: relative;
}
/* line 1067, ../styles/styling.scss */
.commentListWrapper .commentsList .activityWrapper .likeIcons .commentLike {
    position: absolute;
    right: -15px;
    bottom: -10px;
}

/* line 1077, ../styles/styling.scss */
.activityTabWrapper {
    height: 100%;
}

/* line 1081, ../styles/styling.scss */
.animationWrapper {
    height: 100%;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
/* line 1087, ../styles/styling.scss */
.animationWrapper.fullWidth {
    margin-left: 0;
}
/* line 1091, ../styles/styling.scss */
.animationWrapper.open {
    margin-right: 365px;
}

/* line 1096, ../styles/styling.scss */
md-tabs[md-dynamic-height] md-tabs-content-wrapper {
    padding-top: 48px;
}

/* line 1100, ../styles/styling.scss */
.pickColor {
    height: 32px;
    width: 54px;
    float: left;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
    position: relative;
    margin: 4px 8px 0 0;
}
/* line 1110, ../styles/styling.scss */
.pickColor .color {
    border: 1px solid #AAA;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin: 3px 0 0 3px;
}
/* line 1118, ../styles/styling.scss */
.pickColor:after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 8px;
    margin: -3px 0 0 -5px;
}

/* line 1130, ../styles/styling.scss */
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

/* line 1136, ../styles/styling.scss */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 1147, ../styles/styling.scss */
::-webkit-scrollbar-corner {
    background: transparent;
}

/* line 1151, ../styles/styling.scss */
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

/* line 1157, ../styles/styling.scss */
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

/* Chat */
/* line 1164, ../styles/styling.scss */
.countryList {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* line 1170, ../styles/styling.scss */
.countryList li span {
    line-height: 53px;
}

/* line 1176, ../styles/styling.scss */
.search {
    color: rgba(0, 0, 0, 0.87);
}

/* line 1180, ../styles/styling.scss */
.tagList {
    list-style: none;
    padding: 4px 0;
    margin: 0;
}
/* line 1186, ../styles/styling.scss */
.tagList li.tag {
    display: inline-block;
    background: #00bfa5;
    color: #FFF;
    padding: 0 8px;
    line-height: 24px;
    margin: 0 8px 8px 0;
    border-radius: 4px;
    white-space: nowrap;
}
/* line 1196, ../styles/styling.scss */
.tagList li.tag .md-button {
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin: 0;
}
/* line 1203, ../styles/styling.scss */
.tagList li.tag .md-button .md-font {
    color: #FFF;
}

/* Create app */
/* line 1213, ../styles/styling.scss */
.imageContainer {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    background-color: #EBEFF2;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
/* line 1221, ../styles/styling.scss */
.imageContainer md-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
    font-size: 4.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    color: #B2BFC7;
    z-index: 0;
}
/* line 1232, ../styles/styling.scss */
.imageContainer md-icon span {
    font-size: 48px;
    font-size: 4.8rem;
    color: #B2BFC7;
}
/* line 1238, ../styles/styling.scss */
.imageContainer img {
    position: relative;
    z-index: 1;
}
/* line 1243, ../styles/styling.scss */
.imageContainer img {
    width: 100%;
}

/* line 1248, ../styles/styling.scss */
.elementInfo {
    margin: 0 0 11px 32px;
    width: 100px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 75%;
}

/* line 1255, ../styles/styling.scss */
md-whiteframe {
    background: #FFF;
}

/* Notifications */
/* line 1260, ../styles/styling.scss */
.certificate {
    margin-bottom: 16px;
}
/* line 1263, ../styles/styling.scss */
.certificate:last-child {
    margin: 0;
}
/* line 1267, ../styles/styling.scss */
.certificate .validCertificate {
    background: #ececec;
    padding: 8px 16px;
}
/* line 1271, ../styles/styling.scss */
.certificate .validCertificate .validDate {
    line-height: 42px;
}

/* Smart invites */
/* line 1279, ../styles/styling.scss */
.providerList {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* line 1285, ../styles/styling.scss */
.providerList li {
    background: #FFF;
}
/* line 1289, ../styles/styling.scss */
.providerList .dragHandle {
    font-size: 24px;
    font-size: 2.4rem;
}
/* line 1293, ../styles/styling.scss */
.providerList .provider {
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0;
    position: relative;
}
/* line 1300, ../styles/styling.scss */
.providerList .provider:hover {
    background: #EEE;
}
/* line 1304, ../styles/styling.scss */
.providerList .providerImage {
    width: 25px;
    height: 25px;
}
/* line 1310, ../styles/styling.scss */
.providerList .delete .md-font {
    color: #FFF;
}
/* line 1315, ../styles/styling.scss */
.providerList .md-font {
    color: #B2BFC7;
}
/* line 1319, ../styles/styling.scss */
.providerList .switch {
    width: 44px;
}
/* line 1323, ../styles/styling.scss */
.providerList md-switch {
    margin: 0;
}
/* line 1327, ../styles/styling.scss */
.providerList md-input-container {
    padding-bottom: 0;
    margin-bottom: 26px;
}
/* line 1332, ../styles/styling.scss */
.providerList .groupButton {
    margin-bottom: 16px;
}

/* line 1337, ../styles/styling.scss */
.platforms {
    display: inline-block;
}

/* line 1341, ../styles/styling.scss */
.ordering {
    font-size: 0;
}
/* line 1343, ../styles/styling.scss */
.ordering .orderButton {
    width: 24px;
    height: 24px;
    font-size: 24px;
    font-size: 2.4rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
}
/* line 1352, ../styles/styling.scss */
.ordering .orderButton.up {
    background-color: #25c86a;
    color: #FFF;
}
/* line 1356, ../styles/styling.scss */
.ordering .orderButton.up:hover {
    background-color: #1EA055;
}
/* line 1361, ../styles/styling.scss */
.ordering .orderButton.down {
    background-color: #41a5ef;
    margin-left: 8px;
    color: #FFF;
}
/* line 1366, ../styles/styling.scss */
.ordering .orderButton.down:hover {
    background-color: #3484BF;
}
/* line 1371, ../styles/styling.scss */
.ordering .orderButton.disabled {
    background-color: #E5E5E5;
}
/* line 1373, ../styles/styling.scss */
.ordering .orderButton.disabled:hover {
    background-color: #E5E5E5;
    cursor: auto;
}

/* Intercom */
/* line 1390, ../styles/styling.scss */
#intercom-container .intercom-messenger.intercom-messenger-active .intercom-sheet {
    -webkit-transform: translate3d(0%, 0, 0) !important;
    transform: translate3d(0%, 0, 0) !important;
}
/* line 1396, ../styles/styling.scss */
#intercom-container .intercom-sheet {
    top: 0;
    height: auto !important;
    z-index: 999 !important;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2) !important;
    -webkit-transform: translate3d(100%, 0, 0) !important;
    transform: translate3d(100%, 0, 0) !important;
}
/* line 1406, ../styles/styling.scss */
#intercom-container .intercom-sheet-header {
    height: 64px !important;
    background-color: #2196f3 !important;
}
/* line 1411, ../styles/styling.scss */
#intercom-container .intercom-sheet-body {
    border: 0 !important;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 1416, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-title {
    line-height: 64px !important;
    color: #FFF !important;
    padding: 0 !important;
}
/* line 1422, ../styles/styling.scss */
#intercom-container .intercom-last-active, #intercom-container .intercom-sheet-header-generic-title {
    color: #FFF !important;
}
/* line 1426, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-close-button {
    height: 64px !important;
}
/* line 1429, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-close-button .intercom-sheet-header-button-icon:before {
    content: "\f216";
}
/* line 1435, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-minimize-button {
    height: 64px !important;
}
/* line 1438, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-minimize-button .intercom-sheet-header-button-icon:before {
    content: "\f584";
}
/* line 1444, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-conversations-button {
    height: 64px !important;
}
/* line 1447, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-conversations-button .intercom-sheet-header-button-icon:before {
    content: "\f3bc";
}
/* line 1453, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-button-icon {
    background-image: none !important;
}
/* line 1455, ../styles/styling.scss */
#intercom-container .intercom-sheet-header-button-icon:before {
    display: block;
    font-family: MaterialDesignIcons;
    font-size: 24px;
    font-size: 2.4rem;
    position: absolute;
    left: 8px;
    top: 50%;
    color: #FFF;
    margin: -1.2rem;
}
/* line 1467, ../styles/styling.scss */
#intercom-container .intercom-launcher {
    top: 8px !important;
    bottom: auto !important;
    z-index: 999 !important;
    right: 200px !important;
}
/* line 1474, ../styles/styling.scss */
#intercom-container .intercom-launcher-button {
    right: 1px !important;
}
/* line 1478, ../styles/styling.scss */
#intercom-container .intercom-launcher-preview {
    top: 0 !important;
}

/* Buttons */
/* line 1485, ../styles/styling.scss */
.actionButton {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

/* line 1491, ../styles/styling.scss */
.md-raised,
.md-flat {
    color: #FFF;
}
/* line 1496, ../styles/styling.scss */
.md-raised.delete,
.md-flat.delete {
    width: 40px;
    height: 34px;
    margin-left: 16px;
    padding: 0;
}
/* line 1503, ../styles/styling.scss */
.md-raised span,
.md-flat span {
    color: #FFF;
}
/* line 1507, ../styles/styling.scss */
.md-raised.fileUpload,
.md-flat.fileUpload {
    margin-left: 32px;
}
/* line 1511, ../styles/styling.scss */
.md-raised.documentation,
.md-flat.documentation {
    float: right;
}

/* line 1516, ../styles/styling.scss */
.menuButton {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}
/* line 1520, ../styles/styling.scss */
.menuButton:hover {
    background: none !important;
}

/* Controls */
/* Menu */
/* line 1529, ../styles/styling.scss */
.dropdown {
    position: absolute;
    top: 12px;
    left: 16px;
    background: #FFF;
    width: 200px;
    max-height: none;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0;
    opacity: 0;
    display: none;
    z-index: -1;
}
/* line 1542, ../styles/styling.scss */
.dropdown .md-button {
    color: #414141 !important;
    font-weight: normal;
    height: 46px;
    padding-left: 20px;
    text-align: left;
    text-transform: none;
    border-radius: 0;
    width: 100%;
    margin: 0;
}
/* line 1553, ../styles/styling.scss */
.dropdown .md-button md-icon {
    margin-right: 10px;
    color: #414141;
}
/* line 1559, ../styles/styling.scss */
.dropdown a.md-button {
    padding: 11px 0 0 19px;
}
/* line 1562, ../styles/styling.scss */
.dropdown a.md-button:hover {
    background: rgba(158, 158, 158, 0.2);
}
/* line 1567, ../styles/styling.scss */
.dropdown.open {
    display: block;
    opacity: 1;
    transition: -webkit-transform all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    z-index: 99999;
}
/* line 1575, ../styles/styling.scss */
.dropdown.open .dropdownWrapper {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition-duration: 250ms;
}

/* Icons */
/* line 1588, ../styles/styling.scss */
.helpIcon {
    width: 24px;
    height: 24px;
    display: block;
}
/* line 1592, ../styles/styling.scss */
.helpIcon a {
    color: #727272;
}
/* line 1595, ../styles/styling.scss */
.helpIcon a:hover {
    color: #727272;
}

/* line 1601, ../styles/styling.scss */
.md-font {
    font-size: 24px;
    font-size: 2.4rem;
}

/* Overrule Material Styles */
/* line 1607, ../styles/styling.scss */
.md-button.md-default-theme.md-hue-1[disabled],
.md-button.md-default-theme.md-hue-1.md-raised[disabled],
.md-button.md-default-theme.md-hue-1.md-fab[disabled] {
    background: #CCC;
}

/* line 1613, ../styles/styling.scss */
a.md-button.md-hue-1.md-accent.md-raised:not([disabled]) md-icon,
a.md-button.md-hue-1.md-accent.md-fab:not([disabled]) md-icon,
.md-button.md-hue-1.md-accent.md-raised:not([disabled]) md-icon,
.md-button.md-hue-1.md-accent.md-fab:not([disabled]) md-icon {
    color: #FFF !important;
}

/* line 1620, ../styles/styling.scss */
a.md-button {
    line-height: 36px;
}

/* line 1624, ../styles/styling.scss */
md-select {
    width: 100%;
    margin: 0 0 16px 0;
}
/* line 1628, ../styles/styling.scss */
md-select span:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}
/* line 1634, ../styles/styling.scss */
md-select .md-select-label {
    width: 100%;
}

/* line 1639, ../styles/styling.scss */
md-toast {
    z-index: 9999999;
}

/* line 1643, ../styles/styling.scss */
md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: inherit;
}

/* line 1647, ../styles/styling.scss */
md-tabs {
    overflow: visible;
    height: 100%;
}

/* line 1652, ../styles/styling.scss */
md-tab-content {
    overflow: hidden;
}
/* line 1654, ../styles/styling.scss */
md-tab-content > div {
    height: 100%;
}

/* line 1659, ../styles/styling.scss */
.angular-ui-tree-placeholder,
.angular-ui-tree-empty {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    width: 100%;
    box-sizing: border-box;
}

/* line 1669, ../styles/styling.scss */
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* line 1674, ../styles/styling.scss */
.md-tile-content {
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    padding: 16px;
    text-overflow: ellipsis;
}

/* line 1680, ../styles/styling.scss */
.md-tile-right {
    padding-right: 0;
}

/* line 1684, ../styles/styling.scss */
.md-tile-left {
    margin-right: -16px;
    min-width: 56px;
}

/* Animations */
/* line 1691, ../styles/styling.scss */
.animate-fade-up.ng-enter {
    animation: 0.35s ease 0s normal none 1 running fade-up-enter;
    -webkit-animation: 0.35s ease 0s normal none 1 running fade-up-enter;
    -moz-animation: 0.35s ease 0s normal none 1 running fade-up-enter;
}

/* line 1697, ../styles/styling.scss */
.animate-fade-up.ng-leave {
    animation: 0.35s ease 0s normal none 1 running fade-up-leave;
    -webkit-animation: 0.35s ease 0s normal none 1 running fade-up-leave;
    -moz-animation: 0.35s ease 0s normal none 1 running fade-up-leave;
}

/* line 1703, ../styles/styling.scss */
.animate-scale-up.ng-enter {
    animation: 0.35s ease-in-out 0s normal none 1 running slideOutUp;
    -webkit-animation: 0.35s ease-in-out 0s normal none 1 running slideOutUp;
    -moz-animation: 0.35s ease-in-out 0s normal none 1 running slideOutUp;
}

@keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@-webkit-keyframes fade-up-enter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@-webkit-keyframes fade-up-leave {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@keyframes slideOutUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes slideOutUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* SASS Specific stuff */
@media only screen and (min-width: 768px) {
    /* line 32, ../styles/styling_medium.scss */
    .mainHeader:before {
        margin: -15px 0 0 44px;
        left: 50%;
        display: block;
    }
}
/* SASS Specific stuff */
/*# sourceMappingURL=styling.css.map */
